@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "billgates";
  src: url("/billgates.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  scroll-behavior: smooth;
}
